.homepage__header {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .banner {
    height: 200px;
    width: 100%;
    object-fit: inherit;
  }
  .homepage__header__logo {
    width: 70px;
    height: 70px;
  }
  .homepage__header_button {
    border-color: #f37022 !important; /* Sử dụng !important để đảm bảo rằng luật CSS này ưu tiên hơn bất kỳ luật CSS nào khác */
    color: #f37022 !important;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    height: 250px;
    width: 100%;
    object-fit: fill;
  }
  .homepage__header__logo {
    width: 120px;
    height: 120px;
  }
  .homepage__header_button {
    height: 65px;
    width: 150px;
    border-color: #f37022 !important; /* Sử dụng !important để đảm bảo rằng luật CSS này ưu tiên hơn bất kỳ luật CSS nào khác */
    color: #f37022 !important;
  }
}
.homepage__login a {
  text-decoration: none;
}
